*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul{
    list-style-type: none;
}
.hero-image{
    background-image: url(./images/wp2177761-dodge-car-wallpapers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 70%;
}
section{
    height: 80vh;
    width: 100%;
    margin-bottom: -100px;
}
.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-input{
    width: 80%;
    padding-left: 10px;
    padding-top: 15px;
    border: none;
    border-radius: 50px;
    color: black;
}
.text-fix{
    position: relative;
}
.tile-text{
    position: absolute;
    bottom: 0;
    left: 40%;
}
